@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --light-background: white;
  --dark-background: black;
  --light-color:black;
  --dark-color:white;
}

html.light {
  --background: var(--light-background);
  --color:var(--light-color)
}

html {
  --background: var(--dark-background);
  --color:var(--dark-color)
}